html {
	padding: 0;
    background-image: url(back.jpg);
    margin: 10% 10%;
	}


.page-wrapper { 
   
	line-height: 1.5; 
	margin: 0; 
   
	}

p { 
    text-align: center
    line-height: 1.2;
	}

h1 {
    position:absolute;
    background-color: white;
    top: 0;
    left: 27%;
    margin-top: 30px;
    border: 3px solid black;
    padding: 10px;
}

h1:hover {
    background-color: black;
    color:white;
}

h2 {
    position: absolute;
    top: 0;
    left: 50%;
    margin-top: 30px;
    padding: 10px;
    border: 3px solid black;
    background-color: black;
    color:white;
}

h2:hover {
    background-color: white;
    color:black;
}


.summary {
    width:40%;
    display: inline-block;
    font-size: 30px;
    background-color: white;
    padding: 30px;
    border: 7px dotted firebrick;
    height: 400px;
    float:left;
    margin-right: 22px;
    margin-bottom: 30px;
}

.preamble {
    width:41%;
    padding: 30px;
    background-color: white;
    border: 7px dotted purple;
    height: 400px;
    float:left;
    margin-left: 22px;
}

a:link { 
	text-decoration: none;
    color: gray;
	}

a:visited { 
	text-decoration: none;
    color: gray;
	}

a:hover, a:focus, a:active { 
	text-decoration: bold; 
	color: #9685BA;
	}

#zen-explanation  {
    background-color: white;
    clear:both;
    margin-top: 50px;
    padding: 20px 40px;
    border: 3px solid black;
}

#zen-participation {
     background-color: white;
    clear:both;
    margin-top: 30px;
    padding: 20px 40px;
    border: 3px solid black;
}

#zen-benefits {
    background-color: white;
    clear:both;
    margin-top: 30px;
    padding: 20px 40px;
    border: 3px solid black;
}

#zen-requirements {
    background-color: white;
    clear:both;
    margin-top: 30px;
    padding: 20px 40px;
    border: 3px solid black;
}

.sidebar {
    p
}

footer {
    position: absolute;
    right: 60px;
    top: 40px;   
}

.design-name {
    font-family: cursive;
    font-size: 30px;
    list-style: none;
}

.design-selection ul{
    list-style: none;
    text-align: center;
}

.design-selection li {
    display:inline-block;
}

.select {
    color: coral;
    text-align: center;
    margin-top: 50px;
    font-family: cursive;
    font-size: 40px;
    margin-bottom: 0;
    
}


.design-archives ul{
    list-style: none;
    margin-left: 40px;
    
}

.design-archives {
    width: 20%;
    position:fixed;
    top: 400px;
    right:0;
    padding: 10px;
    background-color: white;
    border:3px black solid;
}


.zen-resources {
    width: 20%;
    position:fixed;
    top: 80px;
    left:0;
    padding: 10px;
    background-color: white;
    border:3px black solid;
}

.zen-resources ul {
    list-style: none;
}

h3 {
    text-align: center;
}

h3:hover {
    color:coral;
}

