

body {
    padding-right: 0;
}


ul {
    text-decoration: none;
    list-style: none;
}

.site-nav li {
    font-size: 90%;
   
}

.site-nav a {
    color: darkgrey;
}

.site-nav a:hover {
    color: black;
    text-decoration: none;
}

.site-nav {
    margin-top: 4%;
     
}

li {
    display: inline;
    margin: 5px;
}

time {
    text-transform: uppercase;
}

a{
    color:black;
}

.site-header {
    margin:3%;
}

.site-title {
    font-family: 'Quattrocento Sans', sans-serif;
    font-weight: bold;
    color: #fd8204;
    text-align: center;
    text-align: center;
    text-align: center;
    font-size: 200%;
    margin-top: 13%;
}

.site-nav-title {
    display:none;
}

.entry-title {
    font-family: 'Quattrocento Sans', sans-serif;
}

p{
    font-family: 'Quattrocento Sans', sans-serif;
}

.no-padding {
    padding: 5;
}

.layout-entry {
    padding: 5%;
}

.entry-meta-item time {
    font-size: 5%;
    
}
img {
    width: 100%;
    height: auto;
}

.thumbnail {
    max-width:100%;
}

.imgContainer {
    height: 300px;
}

.site-footer {
    text-align: center;
    margin: 5%
}

.site-social {
    margin-left:-5%;
}

/*size xs: background color change to whitesmoke, site logo is set to width 30% and margins are adjusted to center the logo */
@media (max-width: 575px) {  
    body {background-color:whitesmoke;}
    .site-title {
        margin:3%;
    }
    .site-logo {
        width:30%;
        margin: 0 35%;
    }
}

/*size sm: background color change to green, site logo is set to width 30% and margins are adjusted to center the logo */
@media (min-width: 576px) and (max-width: 767px) {
    body {background-color:#e8fff6;}
    .site-title {
        margin:3%;
    }
    .site-logo {
        width:30%;
        margin: 0 35%;
    }
}

/*size md: background color change to blue */
@media (min-width: 768px) and (max-width: 991px) {
    body {background-color:#e8faff;}
    .site-title {
        margin-top: 39%;
    }   
}
/*size lg: background color change to purple */
@media (min-width: 992px) and (max-width: 1199px) {
    body {background-color:#e8f0ff;}
}

/*size xl: background color change to orange */
@media (min-width: 1200px) {
    body {background-color:floralwhite;}
    a {color:black;}
}

/* Additional responsive changes in the header: d-none hides the navigation menu at size xs and s, d-md-block makes it reappear for md, lg, and xl, col-md-12 shifts the navigation menu to below the site logo and title for md, col-lg-7 shifts the navigation menu so that it is inline with the site logo and title for lg and xl */

/* Additional responsive changes in the body: lg and xl have a three column layout, md and sm have a two column layout, xs has a one column layout */
