body {
    padding-top: 25px;
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
    margin: 0 auto;
}

/* header */
#img {
    display: block;
    margin: 0 auto;
    padding-top: 30px;
    width: 60%;
    width: 60%;
}

nav ul{
    list-style: none;
    text-align: center;
    padding: 5px;
}

nav li{
    color: black;
    display: inline-block;
    text-align: center;
    margin-left: 70px;
    margin-right: 70px;
    font-size: 15px;
}

nav ul li a{
    text-decoration: none;
}

#name {
    font-size: 60px;
    font-family: 'Playfair Display', serif;
    color: black;
    margin-bottom: 10px;
}

#subtitle{
    padding: 0px 150px 50px 150px;
    display: block;
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 30px;
    margin:0 auto;
}
   
/* basics */

#bio {
    max-width: 900px;
    text-align: center;
    display: block;
    margin: 10px auto;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
}

/* facts */



ol {
    text-align: left;
    display: block;
    margin: 20px auto;
    width 50%;
    max-width: 900px;
}

ol li {
    text-indent: 20px;
}

.title {
    font-size: 35px;
    font-family: 'Playfair Display', serif;
    margin-bottom: 5px;
}

a:link {
    color: #a3946b;
}

a:visited {
    color:#a3946b;
}

a:hover {
    color:black;
}

.container {
    padding: 10px;
}


p {
    padding: 5px;
}

.p1{
    max-width: 900px;
    text-align: center;
    display: block;
    margin: 10px auto;
    width 50%;
}

ul {
    text-align: left;
    display: block;
    margin: 5px auto;
    width 50%;
    max-width: 900px;
}

/* footer */
#cc {
    width=20px;
    display: inline-block;
    padding-top:10px; 
}

.footer{
    font-size: 15px;
    display: inline-block;
}

footer {
    padding:40px;
    margin-top: 40px;
    background-color: #E8E0C4;
}
