body {
    padding-top: 10px;
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
    margin: 0 auto;
}

/* header */
img {
    display: block;
    margin: 0 auto;
    padding-top: 30px;
    width: 60%;
    width: 60%;
}

nav ul{
    list-style: none;
    text-align: center;
    padding: 5px;
}

nav li{
    color: black;
    display: inline-block;
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
    font-size: 15px;
}

nav ul li a{
    text-decoration: none;
}

#name {
    font-size: 60px;
    font-family: 'Playfair Display', serif;
    color: black;
    margin-bottom: 10px;
}

#subtitle{
    padding: 0px 150px 50px 150px;
    display: block;
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 30px;
    margin:0 auto;
}
   
/* basics */

#bio {
    max-width: 900px;
    text-align: center;
    display: block;
    margin: 10px auto;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
}

/* facts */

#cold{
    margin-left: 40px;
}

ol {
    text-align: left;
    display: block;
    margin: 20px auto;
    width 50%;
    max-width: 900px;
}

ol li {
    text-indent: 20px;
}

.title {
    font-size: 35px;
    font-family: 'Playfair Display', serif;
    margin-bottom: 5px;
}

a:link {
    color: #a3946b;
}

a:visited {
    color:#a3946b;
}

a:hover {
    color:darkgreen;
}

.container {
    padding: 10px;
}


p {
    padding: 5px;
}

.p1{
    max-width: 900px;
    text-align: center;
    display: block;
    margin: 10px auto;
    width 50%;
}

ul {
    text-align: left;
    display: block;
    margin: 5px auto;
    width 50%;
    max-width: 900px;
}

footer {
    padding:20px;
}
